<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
	<insert id="insert">
		insert into tbl_board (title, content, writer) 
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="readByNo" resultType="BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<select id="list" resultType="BoardVO">
		select * from tbl_board order by bno desc
	</select>
	
	<update id="update" parameterType="BoardVO">
		update tbl_board
			set title = #{title}, content = #{content}
			where bno = #{bno} 
	</update>
		
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<update id="viewcntUpdate" parameterType="BoardVO">
		update tbl_board
			set viewcnt = #{viewcnt}
			where bno = #{bno}
	</update>
	
	<select id="listPage" resultType="BoardVO">
		select * from tbl_board 
			order by bno desc limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultType="BoardVO">
		select * from tbl_board 
			order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(bno) from tbl_board
	</select>
	
	<sql id="search">
		<if test="searchType == 't'.toString()">
			where title like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType == 'c'.toString()">
			where content like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType == 'w'.toString()">
			where writer like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType == 'tc'.toString()">
			where title like CONCAT('%', '${keyword}', '%') OR content like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType == 'cw'.toString()">
			where content like CONCAT('%', '${keyword}', '%') OR writer like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType == 'tcw'.toString()">
			where title like CONCAT('%', '${keyword}', '%') OR content like CONCAT('%', '${keyword}', '%') OR writer like CONCAT('%', '${keyword}', '%')
		</if>
	</sql>
	
	<select id="listSearchCriteria" resultType="BoardVO">
		select * from tbl_board 
			<include refid="search"/>
			order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCount" resultType="int">
		select count(bno) from tbl_board
			<include refid="search"/>
	</select>
</mapper>